* {
    margin: 1vh ;
    padding: 0;
}
body {
    background-color: #ba9181;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    

}
.game {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);  
    gap: 1.2vmin; 
    width: 60vmin;
    height: 60vmin;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%; 
    aspect-ratio: 1 / 1; 
    border-radius: 3vh;
    font-size: 5vmin;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E1DED7;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    transition: transform 0.25s ease-in-out;
    color:rgb(83, 52, 52);
    font-size: 6vmin;
}

.box:hover{
    transform:scale(1.1);
}
.resetButton{
    height: 5vmin;
    width: 15vmin;
    margin-top:10vh;
    box-shadow: 0 0 2rem black;
    border:1px solid black;
     transition: transform 0.5s ease-in-out;
     border-radius: 1rem;
}
.new-btn{
    height: 5vmin;
    width: 15vmin;
    box-shadow: 0 0 0.5rem black;
    border:1px solid black;
     transition: transform 0.5s ease-in-out;
     border-radius: 1rem;
}
.new-btn:hover{
  transform:scale(1.2);   
}
.resetButton:hover{
    transform:scale(1.2); 
}
#msg{
    color:red;
    font-size: 5vmin;
}
.hide{
    display: none;
}
.score{
    font-size: 5vmin;
    color: rgb(18, 6, 6); 
}
.name{
    background-color: rgb(214, 147, 147);
    height: 5vh;
    width: auto;
}